*{
    margin: 0;
    padding: 0;
}
body{
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("7037893.png");
    background-attachment: fixed;
    background-position: center;
}
#h2{
    color: rgb(19, 19, 187);
    text-align: center;
    font-size:50px;
    
}
.amount{
    padding-top: 5px;
}
.amount p{
    font-size: 20px;
}
.from p{
    font-size: 19px;
}
.to p{
    font-size: 19px;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 75vh;
}

.form{
    margin: 2rem 0 2rem 0;

}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
    margin-top:0.75rem;
}
.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border:  1px solid lightgray;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: rgb(19, 19, 187);
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}



